.para{
    color:white;
}
hr{
    color:white;
}

 
#menu {
    height: 200px;
   
    border-left: 2px solid #ccc;
    padding: 0 10px 0 10px;
}
.mine{
    font-size: 16px;
    border: 2pxsolid #ccc;
    line-height: 2.5;
    position: relative;
    height: 110px;
}
.mine::before{
    content: '';
    display: block;
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid #ddd;
    position: absolute;
    top: 10px;
    left: -15px;

}



