.mine1{
    overflow: hidden;
    overflow-y: scroll;
    height: 300px;
    width: 400px;
}
.mine2{
    overflow: hidden;
    overflow-y: scroll;
    height: 300px;
    width: 400px;
}
.mine3{
    overflow: hidden;
    overflow-y: scroll;
    height: 300px;
    width: 400px;
}
